body{
font-family:Arial;
margin:0;
background:#f5f7fb;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
background:#0b2a5a;
color:white;
padding:15px 20px;
flex-wrap:wrap;
}

.logo{
width:60px;
}

.logo-area{
display:flex;
align-items:center;
gap:10px;
}

nav a{
color:white;
margin:10px;
text-decoration:none;
font-weight:bold;
}

.hero{
background:linear-gradient(#0b2a5a,#000);
color:white;
text-align:center;
padding:100px 20px;
}

.btn{
padding:15px 30px;
background:gold;
border:none;
font-size:16px;
cursor:pointer;
}

section{
padding:60px 20px;
text-align:center;
}

.cards{
display:flex;
justify-content:center;
gap:20px;
flex-wrap:wrap;
}

.card{
background:white;
padding:25px;
width:260px;
border-radius:10px;
box-shadow:0 5px 10px rgba(0,0,0,0.2);
}

input,select{
padding:12px;
margin:10px;
width:260px;
}

button{
padding:12px 25px;
background:#0b2a5a;
color:white;
border:none;
}

ul{
list-style:none;
padding:0;
}

ul li{
margin:10px;
font-size:18px;
}

.whatsapp{
position:fixed;
bottom:20px;
right:20px;
background:#25D366;
color:white;
padding:15px 20px;
border-radius:40px;
text-decoration:none;
}

footer{
background:#111;
color:white;
padding:20px;
text-align:center;
}

/* MOBILE RESPONSIVE */

@media(max-width:768px){

nav{
width:100%;
text-align:center;
}

.cards{
flex-direction:column;
align-items:center;
}

input,select{
width:90%;
}

}
